---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="About me">
    <section>
        <p>hey</p>
        <p>
            Femke Denoo, een Digital Design & Development student met een passie
            voor UX/UI en interactieve digitale ervaringen. Ik ben nieuwsgierig,
            creatief en altijd op zoek naar nieuwe inspiratie. Reizen en andere
            culturen ontdekken geven me frisse ideeën en laten me anders naar
            dingen kijken.
        </p>
        <ul>
            <li>
                <h3>f</h3>
                <p>Focus</p>
            </li>
            <li>
                <h3>i</h3>
                <p>Innovate</p>
            </li>
            <li>
                <h3>n</h3>
                <p>Navigate</p>
            </li>
            <li>
                <h3>e</h3>
                <p>Explore</p>
            </li>
        </ul>
    </section>

    <section>
        <h2>my work</h2>
    </section>
</BaseLayout>
