---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="About me">
    <section>
        <p>hey</p>
        <p>
            Ik ben Femke Denoo, afgestudeerd in Digital Design & Development
            (devine), met een passie voor UX/UI en interactieve,
            gebruiksvriendelijke digitale ervaringen. Wat mij drijft?
            Nieuwsgierigheid. Ik wil blijven leren, andere culturen ontdekken en
            mezelf uitdagen om steeds beter te worden. Die motivatie om te
            groeien vormt de basis van mijn werk als designer. Ik werk graag
            binnen het UX/UI- en digital design-luik, waar ik mijn skills kan
            inzetten om projecten zo gebruiksvriendelijk en intuïtief mogelijk
            te maken. Ik combineer graag visueel design met functionele UX, om
            zo ontwerpen te creëren die er niet alleen goed uitzien, maar ook
            echt werken voor de gebruiker. Naast mijn liefde voor design, hou ik
            ervan om de wereld te ontdekken en in contact te komen met andere
            culturen. Ik probeer bewust te leven, te genieten van kleine
            momenten en gewoon mens te zijn of dat nu met een koffietje is, een
            avondje met vrienden of wat me-time.
        </p>
    </section>

    <section>
        <h2>my work</h2>
    </section>
</BaseLayout>
