---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/header.astro";
---

<BaseLayout pageTitle="Home">
	<Header />
	<section class="about">
		<h2 class="about-titel">About me</h2>
		<p class="about-intro">hey</p>
		<p class="about-tekst">
			Ik ben Femke Denoo, afgestudeerd in Digital Design & Development,
			met een passie voor UX/UI en interactieve digitale ervaringen. Wat
			mij drijft? Nieuwsgierigheid. Ik wil blijven leren, andere culturen
			ontdekken en mezelf uitdagen om steeds beter te worden. Die goesting
			om te groeien vormt de basis van mijn werk als designer.
		</p>
		<p class="about-button">Get to know me</p>
	</section>

	<section class="work">
		<h2 class="work-titel">My Work</h2>
		<p class="work-tekst">Every pixel tells a story</p>
	</section>

	<section class="insight">
		<h2 class="insight-titel">Insights</h2>
		<ul>
			<p>Shine bright</p>
			<p>Be fearless</p>
			<p>Design life</p>
			<p>Be unstoppable</p>
			<p>Code dreams</p>
			<p>Push limits</p>
			<p>Dream big</p>
			<p>Spark joy</p>
		</ul>
		<p class="instight-button">Discover my insights</p>
	</section>
</BaseLayout>
