---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Insights">
    <section>
        <ul>
            <p>Shine bright</p>
            <p>Be fearless</p>
            <p>Design life</p>
            <p>Be unstoppable</p>
            <p>Code dreams</p>
            <p>Push limits</p>
            <p>Dream big</p>
            <p>Spark joy</p>
        </ul>
    </section>
    <section>
        <div>
            <h2>Design</h2>
            <p>Een goed design vertelt een verhaal zonder woorden.</p>
        </div>
        <div>
            <h2>UX/UI</h2>
            <p>Responsive design is cruciaal voor alle apparaten.</p>
        </div>
        <div>
            <h2>Development</h2>
            <p>Empathie met de gebruiker leidt tot betere oplossingen.</p>
        </div>
    </section>
</BaseLayout>
