<footer>
    <h3>Let’s <span>connect</span></h3>
    <p>femke.denoo@proximus.com</p>
    <p>
        <a href="https://twitter.com/">Twitter</a> |
        <a href="https://linkedin.com/">LinkedIn</a>
    </p>
</footer>
