<style>
    .header-sub {
        font-family: var(--font-detail);
        font-size: var(--size-s);
        color: var(--color-red);
    }

    .header-img {
        width: 200px;
    }
    
    .header-title {
        font-family: var(--font-header);
        color: var(--color-dblauw);
    }
</style>

<header>
    <div class="header-begin">
        <p class="header-start">I am Femke Denoo</p>

        <img class="header-img" src="../public/assets/header.svg" alt="" />

        <div class="header-block block-ux">
            <p class="header-sub">Ux / ui</p>
            <h1 class="header-title ux">UX / UI</h1>
        </div>
        <div class="header-block block-design">
            <p class="header-sub">Designer</p>
            <h1 class="header-title design">DESIGNER</h1>
        </div>
        <div class="header-block block-dev">
            <p class="header-sub">Developer</p>
            <h1 class="header-title development">DEVELOPMENT</h1>
        </div>

        <p class="header-cta">Send me a mail</p>
    </div>
</header>
