<nav>
    <a class="navi-links" href="/">
        <img src="/assets/logo.svg" alt="Logo" />
    </a>

    <div class="navi-rechts">
        <a href="/about">ABOUT</a>
        <a href="/project">MY WORK</a>
        <a href="/insights">INSIGHTS</a>
    </div>
</nav>
