---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const projecten = await getCollection("projecten");
    return projecten.map((project) => ({
        params: { detail: project.slug },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<BaseLayout>
    <h1>{project.data.title}</h1>
    <p>{project.data.description}</p>
    <Content />
</BaseLayout>
